@model ElectricStore_Project.Models.Category

@{
    ViewData["Title"] = "Category details page";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <!-- Validation Summary -->
        <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3 py-2 small"></div>
    
        <div class="mb-3">
            <label asp-for="Name" class="form-label small fw-bold">Tên danh mục</label>
            <input asp-for="Name" class="form-control" placeholder="Nhập tên danh mục mới..." />
            <span asp-validation-for="Name" class="text-danger small"></span>
        </div>
        <!-- Submit Button -->
        <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-primary py-2">Thay đổi</button>
        </div>
    </form>

    <!-- notification -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Cấu hình định dạng cửa sổ Toast nhỏ ở góc trên bên phải
        const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000, // Tự động ẩn sau 3 giây
        timerProgressBar: true,
        didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
        });

        // Kiểm tra xem Server có gửi TempData["ErrorMessage"] về không (nếu có dùng)
        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                Toast.fire({
                icon: 'error',
                title: '@TempData["ErrorMessage"]'
                });
            </text>
        }
    </script>
</body>
</html>
